@using Identity_Authorization___AJAX_Interaction_in_MVC.Models
@model List<Booking>

@{
    ViewData["Title"] = "Pending Bookings";
}

<h2>Pending Booking Requests</h2>

<div id="pendingArea">
    @Html.Partial("_PendingList", Model)
</div>